# JetBrains/VSCode
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Backend
backend/target/
backend/logs/
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# DB
data/*.db
data/*.db-journal
